.config/zsh/.zsh_history
.config/.wrangler/logs
.config/zsh/.zsh_sessions
.config/configstore
.config/raycast/extensions
.config/.wrangler
.config/qBittorrent
.config/rclone/rclone.conf
.config/stripe
