.DS_Store
**/*/.DS_Store

.config/zsh/.zsh_history
.config/.wrangler/logs
.config/zsh/.zsh_sessions
.config/configstore
.config/raycast/extensions
.config/.wrangler
.config/qBittorrent
.config/rclone/rclone.conf
.config/stripe

.local/share
.local/state

**/*.mdb
.config/better-auth
.config/nvim/.swp
.config/swiftpm
.local/bin/rclone
.local/bin/rclone.1
.config/mole/mole.log
.config/ngrok/ngrok.yml
